{% extends 'base.html.twig' %}
{% block title %}admin{% endblock %}
{% block body %}
    {% include('navbarVertical.html.twig') %}
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <h1 align="center" > Espace Admin </h1>
{% endblock %}

