<nav class="navbar bg-info">
    <div class="container-fluid">
        <a class="navbar-brand"> Liste des ingrédients </a>
        <div class="d-flex">
            <a href="/ingrédients"><button class="btn btn-sm btn-primary ml-2">Gestion des ingrédients</button></a>
            <a href="/menus"><button class="btn btn-sm btn-primary ml-2">Gestion des menus</button></a>

        </div>
    </div>
</nav>