body{
    background-image:  url('https://img.freepik.com/free-photo/copy-space-ingredients-cookies_23-2148837161.jpg?w=2000');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;}