{% extends 'base.html.twig' %}
{% block title %}user{% endblock %}
{% block body %}
    {% include('navbarVertical1.html.twig') %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 align="center" > Espace User </h1>
{% endblock %}